@model New_Web.Models.ViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Home {
    <h2 class="mb-3 mt-3"></h2> <!-- yield itu parameter dikirim ke page yg section nya title -->

    <div class="starter-template mt-3  shadow p-3 mb-2 bg-white rounded">
        <form action="@Url.Action("Details", "Inventory")" method="post">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Document Date</label>
                    <!--<input type="date" class="form-control" id="docdate" name="docdate" value="">-->
                    @*@if (Model.Inventory.Count == 0)
                    {
                        @Model.Inventory[0].DOB = new Date();
                    }*@
                    @Html.EditorFor(model => model.VendorBack.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "Doc Date", @readonly = "true", id = "docdate", name = "docdate", @Value = @Model.VendorBack.DOB.ToString("MMMM/yyyy") } })
                    @Html.ValidationMessageFor(model => model.VendorBack.DOB, "", new { @class = "text-danger" })
                    @*untuk menampilkan date data di model atau database harus ada isinya*@
                </div>

                <div class="form-group col-md-3">
                    <label for="vendor">Vendor</label>
                    <select id="vendor" class="form-control" name="vendor">

                        <option @(Model.VendorBack.VendorCode == "**A" ? " selected" : "") >**ALL VENDOR**</option>
                        @foreach (var item in Model.Vendor)
                        {
                        <option @(Model.VendorBack.VendorCode == item.VendorCode.Substring(0,3) ? " selected" : "")>@item.VendorCode - @item.VendorName</option>
                        }
                        </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="hidden" id="bulan" name="bulan" value="@Model.VendorBack.DOB.Month" />
                    <input type="hidden" id="tahun" name="tahun" value="@Model.VendorBack.DOB.Year" />
                    @*<input type="hidden" name="_token" value="<?php echo csrf_token() ?>">*@
                    <button type="submit" id="submit" class="btn btn-primary"><span class="mr-2" data-feather="monitor"> </span>Show</button>
                    <!-- <div class="dropdown"> -->
                    <button class="btn btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span data-feather="printer"></span> Export
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" id="linkExcel" href="#)"><span class="mr-2" data-feather="paperclip"></span>Excel</a>
                        <a class="dropdown-item" id="link" href="#"><span class="mr-2" data-feather="paperclip"></span>PDF</a>
                    </div>
                    <!-- </div> -->
                </div>


            </div>

        </form>


    </div>

    <div class="table-responsive mt-3 shadow p-3 mb-5 bg-white rounded">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ItemCode</th>
                    <th>FirstStock</th>
                    <th>Sales</th>
                    <th>Refund</th>
                    <th>Return</th>
                    <th>Receipt</th>
                    <th>Adjust +</th>
                    <th>Adjust -</th>
                    <th>Transfer Out</th>
                    <th>Transfer In</th>
                    <th>Last Stock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Inventory)
                {
                    <tr>
                        <td>@item.ItemCode</td>
                        <td>@item.FirstStock</td>
                        <td>@item.Sales</td>
                        <td>@item.Refund</td>
                        <td>@item.GoodsReturn</td>
                        <td>@item.GoodsReceiptPO</td>
                        <td>@item.GoodsReceipt</td>
                        <td>@item.GoodsIssue</td>
                        <td>@item.TransferOut</td>
                        <td>@item.TransferIn</td>
                        <td>@item.LastStock</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")



<script type="text/javascript">


        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "MM/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
            });
            //var currentdate = new Date();

            //$('input[type=datetime]').val($.datepicker.formatDate('MM/yy', currentdate));
        });

        $('#docdate').change(function () {
            var date = new Date($('#docdate').val());
            $('#bulan').val(date.getMonth() + 1);
            $('#tahun').val(date.getFullYear());
        });

        $('#link').on('click',function () {
            var bulan = $('#bulan').val();
            var tahun = $('#tahun').val();
            var vendor = $('#vendor').val();
            window.location = '@Url.Action("DownloadPDF", "Inventory")?bulan=' + bulan + '&tahun=' + tahun + '&vendor=' + vendor;
        })

        $('#linkExcel').on('click',function () {
            var bulan = $('#bulan').val();
            var tahun = $('#tahun').val();
            var vendor = $('#vendor').val();
            window.location = '@Url.Action("DownloadExcel", "Inventory")?bulan=' + bulan + '&tahun=' + tahun + '&vendor=' + vendor;
        })

</script>

}
